// font size
$baseFontSize: 16px;

// font family
$latoFont: 'Lato', sans-serif;
$redHatDisplayFont: 'Red Hat Display', sans-serif;

// COLORS
$whiteColor: #fff;
$blackColor: #000;
$grey900: #323232;
$textColor: #565656; // Grey 700
$grey500: #7B7B7B;
$grey300: #CCCCCC;
$footerColor: #F4F4F4; // Grey 100
$redColor: #E10000;
