.info {
    .container {
        display: grid;
        grid-template-columns: 470px 470px;
        grid-template-rows: 1fr;
        gap: auto;
        justify-content: space-between
    }


    &__title {
        @include title;
        font-size: rem(23px);
    }

    &__right {
        gap: 32px;
    }

    &__text {
        width: unset;
        font-size: rem(19px);
        line-height: 1.684;
        text-align: start;
    }
}