.main {
    .arrow {
        
        @include text;
        color: $grey500;
        letter-spacing: 0.1rem;
        text-transform: capitalize;
        background-color: $whiteColor;
        border: none;
        transition: all .3s ease;
        &:hover, &:active {
            color: $blackColor;
            .icon {
                fill: $blackColor;
            }
        }
    }
    .arrow--view {
        justify-self: start;
    }
    .arrow--read {
        display: inline-flex;
        align-items: center;
        gap: 5px;
        span {
            display: none;
            transition: all .3s ease;
        }
        &:hover, &:active {
            span {
                display: unset;
                letter-spacing: 0.1rem;
                font-size: 1rem;
            }
        }
    }
}